<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <style>
    #map {
    height: 300px;
    width: 100%;
  }
  </style>
  <title>Captura de datos de viaje</title>
</head>
<body>
  <h1>Captura de datos de viaje</h1>
    <button id="getLocationButton">Obtener Ubicación</button>
    <form id="travelForm">
    <div id="locationDisplay">
    <div id="map"></div>
    <input type="hidden" id="origenLat" name="origenLat" value="">
    <input type="hidden" id="origenLng" name="origenLng" value="">

    <input type="hidden" id="destinoLat" name="destinoLat" value="">
    <input type="hidden" id="destinoLng" name="destinoLng" value="">

    <button type="submit" id="submitBtn">Pedir remis</button>
  </form>
</body>
<script src="../js/travelRequest.js"></script>
<script src="../js/mapping.js" ></script>
</html>